<div class="d-flex flex-wrap mx-5 my-5">
     {{#each products}}
    <div class="d-flex flex-column col-4 border mx-4 my-4">
        <p class="h5">{{this.id}}</p>
        <p class="h3">{{this.title}}</p>
        <p class="description">{{this.description}}</p>
        <p class="stock text-align-left h4">Stock: {{this.stock}}</p>
        <p class="precio text-ends h3 ">$ {{this.price}}</p>
    </div>
    {{/each}}
</div>
{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src="/src/public/js/index.js"></script>   