<div id="contenedor_productos" class="d-flex flex-wrap mx-5 my-5">
     {{#each products}}
    <div class="d-flex flex-column col-4 border mx-4 my-4">
        <p class="h5"><b>Id:</b> {{this._id}}</p>
        <p class="h5">{{this.category}}</p>
        <p class="h3">{{this.title}}</p>
        <p class="description">{{this.description}}</p>
        <p class="stock text-align-left h4">Stock: {{this.stock}}</p>
        <p class="precio text-ends h3 ">$ {{this.price}}</p>
        {{#if this.status}}
            <p class="text-ends h3" style="color: green;">Disponible</p>
        {{else}}
            <p class="text-ends h3" style="color: red;">No disponible</p>
        {{/if}} 
    </div>
    {{/each}}
</div>

<div class="d-flex justify-content-center">
    <div class="border mx-5">
        {{prev}}
    </div>
    <div class="border mx-5">
        {{page}}
    </div>
    <div class="border mx-5">
        {{next}}
    </div>
</div>